<html>
    <head></head>
    <body>
        <table>
            <thead>
              <tr>
                <th>путь</th>
                <th>файл/каталог</th>
                
              </tr>
            </thead>
            <tbody>
              {% for document in documents %}
                <tr>
                  <td><a href="{{ url_for('static', filename="files/" + document.path) }}" download><b>{{ document.path }}</b></a></td>
                  <td>{{ document.file }}</td>
                  
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </body>
</html>